# Node modules for all projects
**/node_modules/

# Environment variable files (secrets)
**/.env

# Build output
**/dist/
**/build/

# Logs
**/*.log

# System files
.DS_Store
Thumbs.db

# OS / Editor / IDE
.vscode/
*.swp
*.swo

# Other temp files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
